/* .page {
  width: 100%;
  height: 100vh;
  background: url("dish1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
} */
.bgcolor {
  background-color: rgb(135, 135, 219);
  display: flex;
}
.bgcolor img {
  width: 109px;
  height: 67px;
}

.bgcolor h2 {
  margin-left: 30px;
  color: white;
}

.body1 {
  font-size: 60px;
  text-align: center;
  margin-top: 70px;
  color: black !important;
}
.MenuButton {
  background-color: rgb(95, 95, 233);
  text-align: center;
  padding: 10px;
  margin-top: 40px;
  color: white;
}
.pick1,
.pick2,
.pick3,
.pick4 {
  margin-top: 20px;
  border-radius: 20px;
  margin-right: 90px;
  border: solid rgb(148, 148, 146) 1px;
}
.pick1 img,
.pick2 img,
.pick3 img,
.pick4 img {
  height: 180px;
  width: 310px;
  border-radius: 20px;
}

.pick1 button,
.pick2 button,
.pick3 button,
.pick4 button {
  background-color: rgb(95, 95, 233);
  height: 26px;
  width: 45px;
  margin-right: 4px;
  color: white;
  font-size: large;
}
.row1 {
  margin-left: 20px !important;
}
/* ,.pick2 .pick2 .pick4 */
a {
  text-decoration: none !important;
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none !important;
  color: white;
}
.MenuButtons {
  background-color: rgb(240, 199, 16);
  text-align: center;
  color: white;
  font-size: 30px;
  border-radius: 20px;
}
.thank {
  background-color: rgb(252, 210, 74);
  height: 1500px;
  width: 1500px;
}
.thank h1 {
  color: white;
  font-size: 50px;
  text-align: center;
}
.emoj {
  font-size: 100px;
}
.loginmain {
  background-color: rgb(105, 198, 221);
  height: 1500px;
}
.loginmain1 {
  margin-top: 100px;
  border-radius: 20px;
  /* border: solid rgb(4, 78, 68) 2px; */
  padding: 5px;
  background-color: rgb(141, 241, 203);
}
.imgbg {
  width: 1500px;
  height: 500px;
  opacity: 0.4;
}
